<div class="row">


	<div class="row">
		<div class="col-md-10">
			<h1>All Messages for <%= @user.name %></h1>
		</div>
		<div class="col-md-2" style="padding-top:20px">
			<a class="btn btn-primary btn-lg" href="/messages/new">Compose</a>
		</div>
	</div><hr>

	<% @messages.each do |message| %>
	<a href='/messages/<%= message.id%>'><div class="taskDisplay">
		<%=  message.title %><br>
		From:
		<% if message.sender_id %>
		 	<%=  User.find(message.sender_id).name %>
		<% else %>
			system message
		<% end %>
	</div></a>
	<% end %>
		
</div>

