<div class="row">

	<div class="col-md-10 col-md-offset-1">
		<h1>Write a New Message</h1><br>
		<%= render 'form' %>

		<%= content_tag :div, class: "users_class", data: {users: @users} do %>
		<% end %>

	</div>
</div