<!DOCTYPE html>
<html>
<head>
	<title>Welcome Email for TaskIt</title>
</head>
<body>
	<h1>Welcome to TaskIt, <%= @user.name %></h1>
	<p>Thanks for taking to time to sign up with us!</p>
	<p>Here at TaskIt we strive to help our users organize their personal calendars and their lives!</p>
	<p>Congrats on becoming a member of the TaskItcommunity!</p>

	<h4>Cheers!</h4>
	<p>The TaskIt Team</p>

</body>
</html>