
<nav class="navbar navbar-default navbar-fixed-top navbar-style">
<div class="container-fluid">	
    <div class="navbar-header">

      <a class="navbar-brand" href="/">Record Finder</a>
    
    <div class="hidden-xs hidden-sm">
       	<% if logged_in? %>
	        <ul class="nav navbar-nav">
	        	<li><a href="/users/<%= current_user.id%>">Crate</a></li>
	        	<li><a href="/messages">Messages</a></li>
            </ul>

        <% end %>
    </div>
    <div class="pull-right">
      
    	<% if logged_in? %>
    		<span class="navbar-brand hidden-sm hidden-xs">Welcome, <%= current_user.name %></span>

    		<%= link_to "logout", logout_path, method: :delete, class: "navbar-brand" %>

    	<% else %>



    		<a class="navbar-brand" href="/login">

    			Log In
    		</a>
    	<% end %>
        </div>
    </div>
</div>



</nav>	